$panelDark: rgba(0, 0, 0, 0.8);
$panelHighlight: #bbcc6b;
$panelDarkText: #000;

.cms-admin-panel-wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $panelDark;
  color: #fff;
  padding: 0;
  margin: 0;
  line-height: 30px;
  padding-left: 15px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    float: left;
  }

  section {
    display: inline-block;
    padding: 0 3vw;

    &:last-of-type {
      float: right;
    }
  }

  a {
    color: #94aa4c;
    text-decoration: none;
  }

  .panel-menu-with-overlays {

    li {
      .child-toggler {
        display: block;
        background: $panelHighlight;
        color: $panelDarkText;
        padding: 0 10px;
      }

      &:hover {
        .overlay {
          display: block;
        }
      }
    }

    .overlay {
      display: none;
      position: absolute;
      left: 0;
      background: $panelDark;
      line-height: normal;
      width: 25vw;
      min-width: 150px;

      a {
        display: block;
        padding: 10px 15px;

        &:hover {
          background: $panelHighlight;
          color: $panelDarkText;
        }
      }
    }
  }

  nav {
    position: relative;
  }
}