.cms-admin-panel-wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 0;
  margin: 0;
  padding: 10px;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    float: left;
  }

  section {
    float: right;
    width: 33%;

    &:last-of-type {
      text-align: right;
    }
  }

  a {
    color: #94aa4c;
    text-decoration: none;
  }

  nav {
    // ...
  }
}